<!DOCTYPE html>
<html lang="zh-CN">

<head>
	<meta charset="utf-8">
	<title></title>
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
	<link href="../css/mui.min.css" rel="stylesheet" />
	<link href="../css/fm.css" rel="stylesheet" />
	<link rel="stylesheet" href="../css/css/mui_reset.css">
	<script src="../js/rem.js"></script>
</head>

<body style="background: #FFFFFF;">
	<div class="title">
		<div class="fm_left mui-action-back mui-pull-left">
			<img src="../img/fh.png" />
		</div>
		<div class="fm_middle">
			<P>销售网络</P>
		</div>
		<div class="fm_right">

		</div>
	</div>
	<div class="nr">
		<div class="bg_s">
			<ul class="tab1 ">
				<li class="cur">国内区域</li>
				<li>国际区域</li>
			</ul>
		</div>
		<div class="on cop1">
			<img src="../img/map.png" />
			<div class="sjnmb">
				<div class="s_wen_zi">
					<P>国内区域</P>
				</div>
				<img src="../img/san.png" id="san" />
			</div>
			<div class="ncsjd">
				<ul class="mui-table-view" id="gn">


				</ul>
			</div>
		</div>
		<div class="cop1">
			<img src="../img/map.png" />
			<div class="sjnmb">
				<div class="s_wen_zi">
					<P>国际区域</P>
				</div>
				<img src="../img/san.png" id="san" />
			</div>
			<div class="ncsjd">
				<ul class="mui-table-view" id="gj">


				</ul>
			</div>
		</div>
	</div>
	<div id="sucaihuo">

	</div>
	<script src="../js/mui.min.js"></script>
	<script src="../js/jquery-3.2.1.min.js"></script>
	<script src="../js/template-web.js"></script>
	<script src="https://cdn.bootcss.com/js-sha1/0.6.0/sha1.min.js"></script>
	<script src="../js/new_file.js"></script>
	<script type="text/html" id="news-item">
		<% for(var i=0;i<data.length;i++){ %>
			<li class="mui-table-view-cell mui-media" data-id='<%= data[i].object_id %>'>
				<a href="javascript:;">
					<img class="mui-media-object mui-pull-left" src="<%= data[i].smeta.thumb %>">
					<div class="mui-media-body">
						<%= data[i].post_title %>
							<div class='news-item'>
								<p>
									<%= data[i].post_excerpt %>
								</p>
							</div>
					</div>
				</a>
			</li>
		<% } %>
	</script>
	<script>
		var tmp = Date.parse(new Date()).toString();
		var time = tmp.substr(0, 10); //发起请求时间
		var str = 'app=liuhetianchuang&key=tangguyifa&time=' + time; //签名字符串
		var signature = sha1(str); //签名 sha1加密
		var pre_url = 'http://139.129.225.176/yfapi.php?s_time=' + time + '&signature=' + signature; //服务器请求地址

		if (window.plus) {
			plusReady();
		} else {
			document.addEventListener("plusready", plusReady, false);
		}

		function plusReady() {
			mui.init({
				swipeBack: true //启用右滑关闭功能
			});
		}

		$(function () {
			$('#sucaihuo').simplerSidebar({
				opener: '#toggle-sidebar',
				sidebar: {
					align: 'left',
					width: 260
				}
			});
		});
		$(function ($) {
			$('.tab1 li').bind("touchstart", function () {
				$(".tab1 li").eq($(this).index()).addClass("cur").siblings().removeClass('cur');
				$(".cop1").hide().eq($(this).index()).show();
			});
		})
		$(function () {

			mui('#san')[0].addEventListener('tap', function () {
				$(".ncsjd").fadeToggle(0);
			})
		})

		$(function () {
			$.ajax({
				url: pre_url + '&op=get_news_list1', //获取新闻列表
				type: 'get',
				data: {
					id: 15
				},
				dataType: 'jsonp',
				success: function (mes) {
					console.log(mes)
					var info = {
						data:mes
					}
					var tpl = template('news-item',info);
					$('#gn').append(tpl)
				}
			})
			$.ajax({
				url: pre_url + '&op=get_news_list1', //获取新闻列表
				type: 'get',
				data: {
					id: 16
				},
				dataType: 'jsonp',
				success: function (mes) {
					console.log(mes)
					if(mes != '没有数据'){
						var info = {
							data:mes
						}
						var tpl = template('news-item',info);
						$('#gn').append(tpl)
					}
					
				}
			})
		})
	</script>
</body>

</html>