<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>塘沽一阀</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">

	<!-- Link Swiper's CSS -->
	<!-- <link rel="stylesheet" href="css/swiper.css"> -->
	<link rel="stylesheet" href="css/fm.css">
	<link rel="stylesheet" href="css/mui.min.css">
	<link rel="stylesheet" href="css/css/mui_reset.css">
	<link rel="stylesheet" href="css/css/index/index.css">
	<script src="js/rem.js"></script>
	<!-- Demo styles -->
	<style>
		html,
		body {
			position: relative;
			height: 100%;
		}

		.swiper-container {
			width: 100%;
			height: 100%;
		}

		.swiper-slide {
			background: #505050;
		}

		.menu {
			width: 80%;
			background-color: #515151;
			opacity: .9;
			color: #fff;
		}

		.content {
			width: 100%;
			height: 100vh;
		}

		.menu-button .bar:nth-of-type(1) {
			margin-top: 0px;
		}

		.menu-button .bar:nth-of-type(3) {
			margin-bottom: 0px;
		}

		.bar {
			position: relative;
			display: block;
			width: 50px;
			height: 5px;
			margin: 10px auto;
			background-color: #fff;
			border-radius: 10px;
			-webkit-transition: .3s;
			transition: .3s;
		}

		.menu-button:hover .bar:nth-of-type(1) {
			-webkit-transform: translateY(1.5px) rotate(-4.5deg);
			-ms-transform: translateY(1.5px) rotate(-4.5deg);
			transform: translateY(1.5px) rotate(-4.5deg);
		}

		.menu-button:hover .bar:nth-of-type(2) {
			opacity: .9;
		}

		.menu-button:hover .bar:nth-of-type(3) {
			-webkit-transform: translateY(-1.5px) rotate(4.5deg);
			-ms-transform: translateY(-1.5px) rotate(4.5deg);
			transform: translateY(-1.5px) rotate(4.5deg);
		}

		.cross .bar:nth-of-type(1) {
			-webkit-transform: translateY(15px) rotate(-45deg);
			-ms-transform: translateY(15px) rotate(-45deg);
			transform: translateY(15px) rotate(-45deg);
		}

		.cross .bar:nth-of-type(2) {
			opacity: 0;
		}

		.cross .bar:nth-of-type(3) {
			-webkit-transform: translateY(-15px) rotate(45deg);
			-ms-transform: translateY(-15px) rotate(45deg);
			transform: translateY(-15px) rotate(45deg);
		}

		.cross:hover .bar:nth-of-type(1) {
			-webkit-transform: translateY(13.5px) rotate(-40.5deg);
			-ms-transform: translateY(13.5px) rotate(-40.5deg);
			transform: translateY(13.5px) rotate(-40.5deg);
		}

		.cross:hover .bar:nth-of-type(2) {
			opacity: .1;
		}

		.cross:hover .bar:nth-of-type(3) {
			-webkit-transform: translateY(-13.5px) rotate(40.5deg);
			-ms-transform: translateY(-13.5px) rotate(40.5deg);
			transform: translateY(-13.5px) rotate(40.5deg);
		}

		.moreoh {
			font-size: .26rem;
			color: #44aaff;
		}

		.cp-header {
			width: 100%;
			overflow: hidden;
			white-space: nowrap;
			overflow-x: scroll;
			background: #000000;
			color: #FFFFFF;
			line-height: 55px;
			/* position: fixed; */
		}



		.leftimg {
			width: 49%;
			float: left;
		}

		.rightimg {
			width: 49%;
			float: right;
		}

		.leftimg img {
			width: 100%;
			height: 3rem;
		}


		.rightimg img {
			width: 100%;
			height: 3rem;
		}

		.ss_1 {
			width: 100%;
			height: 1.2rem;
			background: #FFFFFF;
			z-index: 999;
			display: none;
		}

		.kl {
			width: 100%;
			margin: 0 auto;
		}

		.kl input {
			width: 80%;
			height: .7rem;
			border: none;
			outline: none;
			float: left;
			margin-top: .25rem;
			background: #E1E1E1;
			float: left;
			border: none;
			outline: none;
			border-radius: 5px 0 0 5px;
			text-align: center;
		}

		.kl button {
			width: 20%;
			height: .7rem;
			float: right;
			border: none;
			outline: none;
			margin-top: .25rem;
			background: #c32126;
			border-radius: 0 5px 5px 0;
			color: #FFFFFF;
		}

		.moreoh {
			font-size: .26rem;
			color: #44aaff;
		}
	</style>
</head>

<body>
	
	<!-- 侧滑导航根容器 -->
	<div class="mui-off-canvas-wrap mui-draggable">
		<!-- 主页面容器 -->
		<div class="mui-inner-wrap">
			<!-- 菜单容器 -->
			<aside class="mui-off-canvas-left">
				<div class="mui-scroll-wrapper">
					<div class="mui-scroll">
						<div class="userInfo" style="margin-top:.5rem;">
							<img src="img/1.jpg" class="userImage" id="headImage">
							<a class="appName">
								
							</a>
						</div>
						<div class="cnlx">
							<div class="hyzx_tu">
								<img src="img/Shape 246.png" />
							</div>
							<div class="hyzx_wenzi" onclick="mui.openWindow({url:'my/selling.html',id:'my/selling.html'});" id="menu-wlxs">
								<P>网络销售</P>
							</div>
						</div>
						<div class="cnlx">
							<div class="hyzx_tu">
								<img src="img/Shape 96.png" />
							</div>
							<div class="hyzx_wenzi" onclick="mui.openWindow({url:'subpage/personal.html',id:'subpage/personal.html'});" id="menu-zc">
								<P>注册</P>
							</div>
						</div>
						<div class="cnlx" id="login-btn">
							<div class="hyzx_tu">
								<img src="img/Shape 96.png" />
							</div>
							<div class="hyzx_wenzi" onclick="mui.openWindow({url:'subpage/personal.html',id:'subpage/login.html'});" id="menu-dl">
								<P>登录</P>
							</div>
						</div>
						<div class="cnlx">
							<div class="hyzx_tu">
								<img src="img/Shape 137.png" />
							</div>
							<div class="hyzx_wenzi" onclick="mui.openWindow({url:'subpage/information.html',id:'subpage/information.html'});" id="menu-xxzx">
								<P>消息中心</P>
							</div>
						</div>
						<div class="cnlx">
							<div class="hyzx_tu">
								<img src="img/Shape 110.png" />
							</div>
							<div class="hyzx_wenzi" onclick="mui.openWindow({url:'subpage/sale.html',id:'subpage/sale.html'});" id="menu-shfw">
								<P>售后服务</P>
							</div>
						</div>
						<div class="cnlx" id="gzh">
							<div class="hyzx_tu">
								<img src="img/Shape 247.png" />
							</div>
							<div class="hyzx_wenzi" onclick="mui.openWindow({url:'subpage/industry.html',id:'subpage/industry.html'});" id="menu-gzh">
								<P>公众号</P>
							</div>
						</div>
						<div class="cnlx">
							<div class="hyzx_tu">
								<img src="img/Shape 343.png" />
							</div>
							<div class="hyzx_wenzi" onclick="mui.openWindow({url:'subpage/industry.html',id:'subpage/industry.html'});" id="menu-hyyy">
								<P>行业应用</P>
							</div>
						</div>
						<div class="cnlx" style="margin-bottom: 1rem;">
							<div class="hyzx_tu">
								<img src="img/Shape 17.png" />
							</div>
							<div class="hyzx_wenzi" id="menu-gd">
								<P>更多</P>
							</div>
						</div>
						<div style="width: 5rem;height:1rem;margin: 0 auto;background:#c32126;" id="tuichu">
							<img src="img/Off.png" style="float: left;width: 10%;margin:.25rem;" />
							<span style="font-size: .28rem;line-height: 55px;margin-left: 1.2rem;">退出登录</span>
						</div>
					</div>
				</div>
			</aside>
			<!-- 主页面标题 -->
			<header class="mui-bar mui-bar-nav">
				<!-- <a class="mui-icon mui-action-menu mui-pull-left">
					<img src="img/cpl.png" />
				</a>
				<h1 class="mui-title">塘阀一阀</h1>
				<a class="mui-icon mui-action-menu mui-pull-right">
					<img src="img/jc.png" />
				</a> -->

				<div class="title">
					<div class="fm_left menu-button" id="mbtn">
						<img src="img/cpl.png" />
					</div>
					<div class="fm_middle">
						<P>塘阀一阀</P>
					</div>
					<div class="fm_right" id="dj">
						<img src="img/jc.png" />
					</div>
				</div>
			</header>

			<!-- 主页面内容容器 -->
			<div class="mui-content mui-scroll-wrapper">
				<div class="mui-scroll  main-page">
					<div id="tit">
						<span class="select">企业文化</span>
						<span>产品中心</span>
						<span>新闻动态</span>
					</div>
					<div id="con">
						<div class="show view-cell">
							<div class="sy_tu">
								<div class="wenzi_t" id="qyjj">
									<p>企业简介</p>
									<img src="img/icon.png" />
								</div>
							</div>
							<div class="sy_tu1">
								<div class="wenzi_t" id="dlwz">
									<p>地理位置</p>
									<img src="img/icon.png" />
								</div>
							</div>
							<div class="sy_tu2">
								<img src="img/zsjm.png" id="a1" style="width:35%;position: absolute;top:40%;left:.2rem;z-index: 999;" />
								<div class="wenzi_t" id="gytgyf">
									<p>关于塘沽一阀</p>
									<img src="img/icon.png" />
								</div>
							</div>
							<div style="width: 100%;height: 1.5rem;"></div>
						</div>
						<div class="view-cell">
							<div class="cp-header">
								<div class="txk">
									<div class="suo">
										<img src="img/cz.png" style="width:100%" />
									</div>
									<div class="nav-list"></div>
								</div>
								<div class="ss_1">
									<div class="kl">
										<input type="text" placeholder="">
										<button>搜索</button>
									</div>
								</div>
							</div>

							<div class='view-cell2'>
								<div class="mui-scroll-wrapper mui-content" id="index-scroll2">
									<div class="mui-scroll" id="pro-scroll">
										<div class="fis_tu" style="overflow:hidden;" id="pro">
										
										</div>
									</div>
								</div>
							</div>

						</div>
						<div class="view-cell">
							<div class="mui-scroll-wrapper mui-content" id="index-scroll3">
								<div class="mui-scroll" id="news-scroll">
									<ul class="mui-table-view" id="news">
										

									</ul>
								</div>

							</div>

							<!-- <div class="new_kuai">
								<h4>FlowEx国际泵管阀展</h4>
								<P class="xo"></P>
							</div>
							<div class="new_kuai">
								<h4>列入国家重大技术</h4>

								<P class="xx"></P>
							</div>
							<div class="new_kuai">
								<h4>FlowEx国际泵管阀展</h4>
								<P class="xox"> </P>
							</div> -->
							<!-- <div style="width: 90%;margin: .5rem auto 1rem auto;">
								<button style="width: 100%;height: .8rem;background: #c32126;color: #FFFFFF;border: none;">更新</button>
							</div> -->

						</div>
					</div>

				</div>
				<div class="sjbg">
					<div class="sbnkb" id="alertBtn">
						<img src="img/ds.png" />
					</div>
					<div class="sbnkb" id="telephone">
						<img src="img/phone_2.png" />
					</div>
					<div class="sbnkb" style="border-right:none;" id="liuyan">
						<img src="img/kf.png" style="width: 25%;" />
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- <div class="test" style="position:fixed;width:300px;height:200px;bottom:0;left:0;z-index:999;background:#fff;color:#000000;">

	</div> -->


	<!-- <script src="js/swiper.js"></script> -->
	<script src="js/mui.js"></script>
	<script src="js/mui.pullToRefresh.js"></script>
	<script src="js/mui.pullToRefresh.material.js"></script>
	<script src="js/JQ_1.js"></script>
	<script src="js/kk.js"></script>
	<script src="js/js/menu.js"></script>
	<script src="js/template-web.js"></script>
	<script src="https://cdn.bootcss.com/js-sha1/0.6.0/sha1.min.js"></script>
	<script src="js/js/index/index.js"></script>
	<style>
	.news-item p{
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
	}
	</style>
	<!-- 商品类别 -->
	<script type="text/html" id="cp-header">
		<div class='nav col-l' data-id='0'>全部</div>
		<% for(var i=0;i<data.length;i++){%>
				<div class='nav' data-id='<%= data[i].id %>'><%= data[i].name %></div>
		<% } %>
	</script>
	<script type="text/html" id="news-item">
		<% for(var i=0;i<data.length;i++){ %>
			<li class="mui-table-view-cell mui-media" data-id='<%= data[i].object_id %>'>
				<a href="javascript:;">
					<img class="mui-media-object mui-pull-left" src="<%= data[i].smeta.thumb %>">
					<div class="mui-media-body">
						<%= data[i].post_title %>
						<div class='news-item'>
							<p><%= data[i].post_excerpt %></p> 
						</div>
					</div>
				</a>
			</li>
		<% } %>
	</script>
	<script type="text/html" id="logined">
		{{if isLogin}}
		<span id="username">{{userinfo.user_nicename}}</span><br/>
		<span id='phone'>{{userinfo.mobile}}</span>
		{{else}}
		<span>塘沽一阀</span>
		{{/if}}
	</script>
	<script type="text/html" id="pro-img">
		<% if(status == 1){ %>
			<% for(var i=0;i<data.length;i++){  %>
				<% if(i%2==0){ %>
					<div class="leftimg proimg" data-id='<%= data[i].id %>'>
						<img src="<%= data[i].pic %>" />
					</div>
				<% }else{ %>
					<div class="rightimg proimg" data-id='<%= data[i].id %>'>
						<img src="<%= data[i].pic %>" />
					</div>
				<% }%>
			<% } %>
		<% } %>
	</script>
	<script>
		if (window.plus) {
			plusReady();
		} else {
			document.addEventListener("plusready", plusReady, false);
		}
		var newspage = 1,newspagesize=10,newsmax,propage=1,propagesize=10,promax,proCurrentId=0;
		var tmp = Date.parse(new Date()).toString();
		var time = tmp.substr(0, 10); //发起请求时间
		var str = 'app=liuhetianchuang&key=tangguyifa&time=' + time; //签名字符串
		var signature = sha1(str); //签名 sha1加密
		var pre_url = 'http://139.129.225.176/yfapi.php?s_time=' + time + '&signature=' + signature; //服务器请求地址
		function plusReady() {
			mui.init({
				preloadPages: [{
					id: './subpage/wenz.html',
					url: './subpage/wenz.html',
					styles: {
						popGesture: 'hide' // 'hide', 'close','none' 此处是关键
					}
				},{
					id: './subpage/ub.html',
					url: './subpage/ub.html',
					styles: {
						popGesture: 'hide' // 'hide', 'close','none' 此处是关键
					}
				},{
					id: './subpage/information.html',
					url: './subpage/information.html',
					styles: {
						popGesture: 'hide' // 'hide', 'close','none' 此处是关键
					}
				}],
				// pullRefresh: [
				// 	{
				// 		container: '#index-scroll3', //待刷新区域标识，querySelector能定位的css选择器均可，比如：id、.class等
				// 		up: {
				// 			height: 50, //可选.默认50.触发上拉加载拖动距离
				// 			auto: true, //可选,默认false.自动上拉加载一次
				// 			contentrefresh: "正在加载...", //可选，正在加载状态时，上拉加载控件上显示的标题内容
				// 			contentnomore: '没有更多新闻了', //可选，请求完毕若没有更多数据时显示的提醒内容；
				// 			callback: function(){           //必选，刷新函数，根据具体业务来编写，比如通过ajax从服务器获取新数据；
				// 				var _this = this;
								

				// 				$.ajax({
				// 					url: pre_url + '&op=get_news_list', //获取文章数据 可带参数 pagesize:分页大小,p:页码
				// 					type: 'get',
				// 					dataType: 'jsonp',
				// 					data:{
				// 						pagesize:newspagesize,
				// 						p:newspage
				// 					},
				// 					success: function (mes) {
				// 						// console.log(mes)
				// 						// console.log(typeof mes)
				// 						mes.data.map(function(item){
				// 							console.log(item)
				// 						})
				// 						// window.newsInfo = window.newsInfo.concat(mes.data);
				// 						var newsItem = template('news-item', mes);
				// 						$('#news').append(newsItem);
				// 						_this.endPullupToRefresh(false);
				// 						newspage++;
				// 						if(mes.status == 0){
				// 							// console.log('没有新闻了')
				// 							_this.endPullupToRefresh(true);
				// 						}	
				// 					},
				// 					error:function(err){
				// 						console.log(err)
				// 					}
				// 				})

								
				// 			}
				// 		}
				// 	},
				// 	{
				// 		container: '#index-scroll2', //待刷新区域标识，querySelector能定位的css选择器均可，比如：id、.class等
				// 		up: {
				// 			height: 50, //可选.默认50.触发上拉加载拖动距离
				// 			auto: true, //可选,默认false.自动上拉加载一次
				// 			contentrefresh: "正在加载...", //可选，正在加载状态时，上拉加载控件上显示的标题内容
				// 			contentnomore: '没有更多产品了', //可选，请求完毕若没有更多数据时显示的提醒内容；
				// 			callback: function(){           //必选，刷新函数，根据具体业务来编写，比如通过ajax从服务器获取新数据；
				// 				var _this = this;
				// 				$.ajax({
				// 					url: pre_url + '&op=get_product', //获取文章数据 可带参数 pagesize:分页大小,p:页码
				// 					type: 'get',
				// 					dataType: 'jsonp',
				// 					data:{
				// 						pagesize:propagesize,
				// 						p:propage
				// 					},
				// 					success: function (mes) {
				// 						// console.log(mes)
				// 						promax = mes.cs;
				// 						var newsItem = template('pro-img', mes);
				// 						$('#pro').append(newsItem);
				// 						_this.endPullupToRefresh(false);
				// 						propage++	
				// 						if(propage>promax){
				// 							// console.log('没有产品了')
				// 							_this.endPullupToRefresh(true);
				// 						}					
				// 					}
				// 				})
				// 			}
				// 		}
				// 	}
				// ]
				
			})
			
			var newsDetailPage = null,proDetailPage = null;


			// 获取文章详情
			mui('#news').on('tap', '.mui-media', function () {
				var id = this.getAttribute('data-id');
				//获得详情页面
				if (!newsDetailPage) {
					newsDetailPage = plus.webview.getWebviewById('./subpage/wenz.html');
				}
				//触发详情页面的newsId事件
				mui.fire(newsDetailPage, 'newsId', {
					id: id
				});
				//打开详情页面          
				mui.openWindow({
					id: './subpage/wenz.html',
					
				});
			})

			//获取产品详情
			mui('.fis_tu').on('tap', '.proimg', function () {
				var id = this.getAttribute('data-id');
				//获得详情页面
				if (!proDetailPage) {
					proDetailPage = plus.webview.getWebviewById('./subpage/ub.html');
				}
				//触发详情页面的proId事件
				mui.fire(proDetailPage, 'proId', {
					id: id
				});
				//打开详情页面          
				mui.openWindow({
					id: './subpage/ub.html',
					
				});
			})
			
			

		

			


			// mui.ready(function(){
			// 	mui.ajax(pre_url + '&op=get_news_list',{
			// 		type: 'get',
			// 		// dataType: 'json',
			// 		// headers:{'Content-Type':'application/json'},	
			// 		// jsonp: 'callback',
			// 		data:{
			// 			pagesize:newspagesize,
			// 			p:newspage,
			// 		},
			// 		success: function (mes) {
			// 			console.log(mes)
			// 			// window.newsInfo = mes.data;
			// 			// var newsItem = template('news-item', mes);
			// 			// $('#news').html(newsItem);
			// 			// newspage++;
			// 		},
			// 		error:function(xhr,type,error){
			// 			console.log('xhf'+xhr);
			// 			console.log('type'+type);
			// 			console.log('error'+error);
			// 		}
			// 	})
			// })
		}




		

		$(function () {
			mui('.mui-scroll-wrapper').scroll();

			// mui.ready(function(){
				// var proScroll = document.querySelector
				var pro_pullToRefresh = mui('#pro-scroll').pullToRefresh({
					up: {
						callback: function(){
							var _this = this;
							$.ajax({
								url: pre_url + '&op=get_product', //获取文章数据 可带参数 pagesize:分页大小,p:页码
								type: 'get',
								dataType: 'jsonp',
								data:{
									pagesize:propagesize,
									p:propage
								},
								success: function (mes) {
									// console.log(mes)
									promax = mes.cs;
									var newsItem = template('pro-img', mes);
									$('#pro').append(newsItem);
									_this.endPullUpToRefresh(false);
									propage++	
									if(propage>promax){
										// console.log('没有产品了')
										_this.endPullUpToRefresh(true);
									}					
								}
							})
						}, //上拉回调，必填；
						auto: true, //自动执行一次上拉加载，可选；
						show: true, //显示底部上拉加载提示信息，可选；
						contentinit: '上拉显示更多产品', //可以上拉提示信息
						contentdown: '上拉显示更多产品', //上拉结束提示信息
						contentrefresh: '正在加载产品...', //上拉进行中提示信息
						contentnomore: '没有更多产品了' //上拉无更多信息时提示信息
					}
				});
				
				var news_pullToRefresh = mui('#news-scroll').pullToRefresh({
					up: {
						callback: function(){
							var _this = this;
							$.ajax({
								url: pre_url + '&op=get_news_list', //获取文章数据 可带参数 pagesize:分页大小,p:页码
								type: 'get',
								dataType: 'jsonp',
								data:{
									pagesize:newspagesize,
									p:newspage
								},
								success: function (mes) {
									// console.log(mes)
									// console.log(typeof mes)
									mes.data.map(function(item){
										console.log(item)
									})
									// window.newsInfo = window.newsInfo.concat(mes.data);
									var newsItem = template('news-item', mes);
									$('#news').append(newsItem);
									_this.endPullUpToRefresh(false);
									newspage++;
									if(mes.status == 0){
										// console.log('没有新闻了')
										_this.endPullUpToRefresh(true);
									}	
								},
								error:function(err){
									console.log(err)
								}
							})
						}, //上拉回调，必填；
						auto: true, //自动执行一次上拉加载，可选；
						show: true, //显示底部上拉加载提示信息，可选；
						contentinit: '上拉显示更多新闻', //可以上拉提示信息
						contentdown: '上拉显示更多新闻', //上拉结束提示信息
						contentrefresh: '正在加载新闻...', //上拉进行中提示信息
						contentnomore: '没有更多新闻了' //上拉无更多信息时提示信息
					}
				});
			// })
			// 初始化所有上拉加载
			// var pro_pullToRefresh = mui('#pro-scroll').pullToRefresh({
			// 	up:{
			// 		contentrefresh: "正在加载...", //可选，正在加载状态时，上拉加载控件上显示的标题内容
			// 		contentnomore: '没有更多产品了', //可选，请求完毕若没有更多数据时显示的提醒内容；
			// 		// auto:true,
			// 		callback: function(){           //必选，刷新函数，根据具体业务来编写，比如通过ajax从服务器获取新数据；
			// 			var _this = this;
			// 			$.ajax({
			// 				url: pre_url + '&op=get_product', //获取文章数据 可带参数 pagesize:分页大小,p:页码
			// 				type: 'get',
			// 				dataType: 'jsonp',
			// 				data:{
			// 					pagesize:propagesize,
			// 					p:propage
			// 				},
			// 				success: function (mes) {
			// 					console.log(mes)
			// 					// window.proInfo = window.proInfo.concat(mes.data);
			// 					var newsItem = template('pro-img', mes);
			// 					$('#pro').append(newsItem);
			// 					pro_pullToRefresh.endPullUpToRefresh();
			// 					propage++	
			// 					console.log(propage,promax)					
			// 					if(propage>promax){
			// 						console.log(12313321)
			// 						pro_pullToRefresh.setStopped(true);
			// 					}					
			// 				}
			// 			})
			// 		}
			// 	}
			// })
			// var news_pullToRefresh =mui('#news-scroll').pullToRefresh({
			// 	up:{
			// 		contentrefresh: "正在加载...", //可选，正在加载状态时，上拉加载控件上显示的标题内容
			// 		contentnomore: '没有更多新闻了', //可选，请求完毕若没有更多数据时显示的提醒内容；
			// 		// auto:true,
			// 		callback: function(){           //必选，刷新函数，根据具体业务来编写，比如通过ajax从服务器获取新数据；
			// 			var _this = this;
			// 			$.ajax({
			// 				url: pre_url + '&op=get_news_list', //获取文章数据 可带参数 pagesize:分页大小,p:页码
			// 				type: 'get',
			// 				dataType: 'jsonp',
			// 				data:{
			// 					pagesize:newspagesize,
			// 					p:newspage
			// 				},
			// 				success: function (mes) {
			// 					console.log(mes)
			// 					// window.newsInfo = window.newsInfo.concat(mes.data);
			// 					var newsItem = template('news-item', mes);
			// 					$('#news').append(newsItem);
			// 					news_pullToRefresh.endPullUpToRefresh();
			// 					newspage++						
			// 				}
			// 			})
			// 		}
			// 	}
			// })


			// 获取产品类别
			$.ajax({
				// url:pre_url+'&op=test',
				url: pre_url + '&op=get_product_type', //获取产品类别
				// url:pre_url+'&op=get_product',//获取产品数据 可选参数 tid:产品类别ID,id:产品ID,p:页码

				// url:pre_url+'&op=save_message',//留言 参数 name,phone,msg, data:{name:'jack',phone:'18222939377','msg':'aaaaaaaa哈哈哈哈哈'},
				// url:pre_url+'&op=register',//注册 参数 mobile,password,nickname, data:{mobile:18222939311,password:111111,nickname:'哈哈哈哈哈'},
				// url: pre_url + '&op=login',//登录 参数 mobile,password
				type: 'get',
				dataType: 'jsonp',
				jsonp: 'callback',
				success: function (mes) {
					var tpl = template('cp-header', mes);
					$('.nav-list').html(tpl)
				}
			})
			// 获取产品列表
			// $.ajax({
			// 	url: pre_url + '&op=get_product', //获取文章数据 可带参数 pagesize:分页大小,p:页码
			// 	type: 'post',
			// 	dataType: 'jsonp',
			// 	jsonp: 'callback',
			// 	data:{
			// 		id:2,
			// 		pagesize:10,
			// 		p:1
			// 	},
			// 	success: function (mes) {
			// 		// console.log(mes)
			// 		// promax = mes.cs;					
			// 		// window.proInfo = mes.data;					
			// 		// var newsItem = template('pro-img', mes);
			// 		// $('.fis_tu').html(newsItem);
			// 		// propage++;
			// 		// console.log(propage,promax)
			// 		// if(propage>promax){
			// 		// 	console.log(12313321)
			// 		// 	pro_pullToRefresh.setStopped(true);
			// 		// }
			// 	}
			// })

			// 获取新闻列表
			$.ajax({
				url: pre_url + '&op=get_news_list', //获取文章数据 可带参数 pagesize:分页大小,p:页码
				type: 'get',
				dataType: 'jsonp',
				jsonp: 'callback',
				data:{
					pagesize:newspagesize,
					p:newspage,
				},
				success: function (mes) {
					// console.log(mes)
					// console.log(typeof mes)
					// window.newsInfo = mes.data;
					// var newsItem = template('news-item', mes);
					// $('#news').html(newsItem);
					// newspage++;
				}
			});
			
			$.ajax({
                url: pre_url + '&op=get_news_list2', //获取文章详情
                type: 'get',
                data: {
					id: 4,
					pagesize:14,
					p:1
                },
                dataType: 'jsonp',
                success: function (mes) {
                    // console.log(mes)
                    // var newsItem = template('news', mes);
                    // $('#newslist').append(newsItem);
                    // page++;
                }
            })
			
			 // 获取列表title
			 $.ajax({
                url: pre_url + '&op=get_cate_name', 
                type: 'get',
                data: {
                    id: 1
                },
                dataType: 'jsonp',
                success: function (mes) {
                    // console.log(mes)
                    // var newsItem = template('news', mes);
                    // $('#newslist').append(newsItem);
                    // page++;
                }
            })
			

			// 产品导航
			mui('.cp-header').on('tap', '.nav', function () {
				var id = $(this).attr('data-id');
				if(proCurrentId != id){
					mui('#index-scroll2').scroll().scrollTo(0,0,100)
					
					var moveX = $(this).position().left + $(this).parent().scrollLeft();
					var pageX = document.documentElement.clientWidth;
					var blockWidth = $(this).width();
					// console.log(moveX)
					// console.log(pageX);
					// console.log(blockWidth);
					var left = moveX - (pageX / 2) + (blockWidth / 2);
					$(this).css("color", "red").siblings().css("color", "#FFFFFF");
					$(".cp-header ").scrollLeft(left);

					propage = 1;
					proCurrentId = id;
					$('#pro').html('');
					
					// console.log('id:'+id);
					// console.log('pagesize:'+propagesize);
					// console.log('p:'+propage)

					var data = {
						pagesize:propagesize,
						p:propage
					}
					if(proCurrentId != 0){
						$.extend(data,{
							tid:id
						})
					}

					$.ajax({
						url: pre_url + '&op=get_product', //获取文章数据 可带参数 pagesize:分页大小,p:页码
						type: 'get',
						dataType: 'jsonp',
						jsonp: 'callback',
						data:data,
						success: function (mes) {
							// console.log(mes)
							promax = mes.cs;
							var newsItem = template('pro-img', mes);
							$('#pro').append(newsItem);
							propage++;
						}
					})
				}
				
				

				// 获取产品列表
				

			})

			mui("#tuichu")[0].addEventListener("tap", function () {
				localStorage.removeItem('userinfo');
				ifLogin();
				
			})
			// 初始化
			// mui('#index-scroll1').scroll();
			// mui('#index-scroll2').scroll();
			// mui('#index-scroll3').scroll();
			
			ifLogin();
		})


		function ifLogin(){
			window.user = {};
			if(localStorage.userinfo){
				var userinfo = JSON.parse(localStorage.userinfo);				
				window.user.userinfo = userinfo;
				window.user.isLogin = true;
				$('#tuichu').show();
				$('#login-btn').hide();			
			}else{				
				window.user.ifLogin = false; 	
				$('#tuichu').hide();
				$('#login-btn').show();										
			}
			var tpl = template('logined',window.user);		
			$('.appName').html(tpl);
		}
		// mui.oldback = mui.back;
		// var clickNum = 0;
		// mui.back = function (event) {
		// 	clickNum++;
		// 	if (clickNum > 1) {
		// 		plus.runtime.quit();
		// 	} else {
		// 		mui.toast("再按一次退出应用");
		// 	}
		// 	setTimeout(function () {
		// 		clickNum = 0
		// 	}, 1000);
		// 	return false;
		// }
	</script>
	<script>
		// var menuButton = document.querySelector('.menu-button');
		// var swiper = new Swiper('.swiper-container', {
		// 	slidesPerView: 'auto',
		// 	initialSlide: 1,
		// 	resistanceRatio: 0,
		// 	slideToClickedSlide: true,
		// 	on: {
		// 		init: function () {
		// 			var slider = this;
		// 			menuButton.addEventListener('click', function () {
		// 				if (slider.activeIndex === 0) {
		// 					slider.slideNext();
		// 				} else {
		// 					slider.slidePrev();
		// 				}
		// 			}, true);
		// 		},
		// 		slideChange: function () {
		// 			var slider = this;
		// 			if (slider.activeIndex === 0) {
		// 				menuButton.classList.add('cross');
		// 			} else {
		// 				menuButton.classList.remove('cross');
		// 			}
		// 		},
		// 	}
		// });







		/* $(function () {
			$(".xo").overTexts({
				texts: 'FlowEx国际泵管阀展将在上海世博展览馆举行发布时间：2015-02-12 08:59 发布者：admin 代表华东最高品质的FlowEx国际泵管阀展将于2012年6月6日-8日在上海世博展览馆盛大开幕。本届规模为20,000平米，参展商逾400家。荷瑞会展诚邀您参观本届上海泵管阀展！ 作为世界级的展会，上海泵管阀展涵盖40%的国际展商，业内巨头纷纷参展。日本展商有IWAKI、日东精工、久保田、川本水泵、百事德机械等；德国展商有KSB、瑞茨水泵、NORRES（诺瑞）工业软管、宝德等；美国展商有Xylem（原ITT）、滨特尔、IDEX 、NUTORK、固瑞克等；除此之外，瑞士乔治费歇尔、意大利ODE、沙特博禄集团、丹麦DANFOSS等世界一线泵阀管道展商已加入到FlowEx的阵营，为不同行业领域的企业就装备升级、工程建造、经销代理及响应节能减排等各方面作好准备。    展会注重与行业协会紧密合作，上海机械工程学会流体工程专业委员会和上海建筑学会建筑给水排水专业委员会作为协办单位，将与主办方共同实现行业间的交流互动。他们将组织 “上海机械工程学会展团”和“上海建筑给水排水展团”，向广大专业观众展示最新处理技术和解决方案。',
				textLength: "103",
				overText: "展开",
				openText: "收起",
				ooType: "2"
			});

			$(".xx").overTexts({
				texts: '阀门产品被列入国家重大技术装备自主创新指导发布时间：2015-02-12 08:59 发布者：admin 由工业和信息化部、财政部、科技部和国资委于2009年底联合发布的《重大技术装备自主创新指导目录》已经重新修订，2012版《目录》已于近日对外发布。据介绍，《目录》在2009年版本基础上进行修订，修订后，《目录》在原有基础上新增40项装备，共包含19个重大技术装备领域、260项装备项目。其中清洁高效发电设备项目中增加了泵阀的核一级泵、阀（包括：主泵；稳压器比例喷雾阀和安全阀；大口径高压闸阀和止回阀；二级主蒸汽隔离阀等）；百万千瓦超超临界主给水泵和锅炉给水泵机组；超(超)临界火电机组关键阀门，以及一些大型设备也将配套大量的泵阀产品，使我们泵阀行业产品引起了国家的高度重视，列入国家重大技术装备自主创新更新目录，也是对我们泵阀行业带来一次极好发展机遇。   2012版目录重点补充了生活垃圾处理装备、复合材料制备装备、光伏制造装备及高端模具等内容，同时，为适应战略性新兴产业中高端装备制造的发展需要，重点解决智能制造装备发展中的基础和薄弱环节，2012版目录单独设立了“智能控制系统及精密测量仪器”领域，新版目录共收录了19个领域共260项装备产品',
				textLength: "120",
				overText: "展开",
				openText: "收起",
				ooType: "2"
			})

			$(".xox").overTexts({
				texts: '阀门产品被列入国家重大技术装备自主创新指导发布时间：2015-02-12 08:59 发布者：admin 由工业和信息化部、财政部、科技部和国资委于2009年底联合发布的《重大技术装备自主创新指导目录》已经重新修订，2012版《目录》已于近日对外发布。据介绍，《目录》在2009年版本基础上进行修订，修订后，《目录》在原有基础上新增40项装备，共包含19个重大技术装备领域、260项装备项目。其中清洁高效发电设备项目中增加了泵阀的核一级泵、阀（包括：主泵；稳压器比例喷雾阀和安全阀；大口径高压闸阀和止回阀；二级主蒸汽隔离阀等）；百万千瓦超超临界主给水泵和锅炉给水泵机组；超(超)临界火电机组关键阀门，以及一些大型设备也将配套大量的泵阀产品，使我们泵阀行业产品引起了国家的高度重视，列入国家重大技术装备自主创新更新目录，也是对我们泵阀行业带来一次极好发展机遇。   2012版目录重点补充了生活垃圾处理装备、复合材料制备装备、光伏制造装备及高端模具等内容，同时，为适应战略性新兴产业中高端装备制造的发展需要，重点解决智能制造装备发展中的基础和薄弱环节，2012版目录单独设立了“智能控制系统及精密测量仪器”领域，新版目录共收录了19个领域共260项装备产品',
				textLength: "120",
				overText: "展开",
				openText: "收起",
				ooType: "2"
			})
		}); */



		// function drag() {
		// 	var obj = $('#a1');
		// 	obj.bind('mousedown', start);

		// 	function start(e) {
		// 		var ol = obj.offset().left;
		// 		var ot = obj.offset().top;
		// 		deltaX = e.pageX - ol;
		// 		deltaY = e.pageY - ot;
		// 		$(document).bind({
		// 			'mousemove': move,
		// 			'mouseup': stop
		// 		});
		// 		return false;
		// 	}

		// 	function move(e) {
		// 		obj.css({
		// 			"left": (e.pageX - deltaX),
		// 			"top": (e.pageY - deltaY)
		// 		});
		// 		return false;
		// 	}

		// 	function stop() {
		// 		$(document).unbind({
		// 			'mousemove': move,
		// 			'mouseup': stop
		// 		});
		// 	}
		// }
		// drag();
	</script>
</body>

</html>