<!DOCTYPE html>
<html lang="zh-CN">

<head>
	<meta charset="utf-8">
	<title></title>
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
	<link href="../css/mui.min.css" rel="stylesheet" />
	<link href="../css/fm.css" rel="stylesheet" />
	<link rel="stylesheet" href="../css/css/mui_reset.css">
	<script src="../js/rem.js"></script>
	<style>
		.mui-table-view-cell {
			border-top: none;
			border-bottom: 1px solid #EEEEEE;
		}
	</style>
</head>

<body>
	<div class="title">
		<div class="fm_left mui-action-back mui-pull-left">
			<img src="../img/fh.png" />
		</div>
		<div class="fm_middle">
			<P>消息中心</P>
		</div>
		<div class="fm_right">
			<img src="../img/ss_1.png">
		</div>
	</div>
	<div class="nr">
		<ul class="tab">
			<li class="cur">系统消息</li>
			<li>我的消息</li>
		</ul>
		<div class="on cop">
			<!-- <div class="mui-content"> -->
				<div class="mui-scroll-wrapper" id="scroll1">
					<div class="mui-scroll">
						<ul class="mui-table-view" id="infolist">
							<!-- <li class="mui-table-view-cell mui-media">
								<a href="javascript:;">
									<img class="mui-media-object mui-pull-left" src="../img/60x60.gif">
									<div class="mui-media-body">
										阀门
										<p class='mui-ellipsis'>本厂保证投标设备用合理的工艺和合格的材料制造而成，并符合标书、合同规定的质量、规格和性能要求。保证阀门设备经正确安装、正常运行和保养，在其使用寿命内具有满意的性能。设备制造完成后，我公司对设备质量、性能要求按合同规定进行详细而全面的检查，质量达到要</p>
									</div>
								</a>
							</li>
							<li class="mui-table-view-cell mui-media">
								<a href="javascript:;">
									<img class="mui-media-object mui-pull-left" src="../img/60x60.gif">
									<div class="mui-media-body">
										阀门
										<p class='mui-ellipsis'>本厂保证投标设备用合理的工艺和合格的材料制造而成，并符合标书、合同规定的质量、规格和性能要求。保证阀门设备经正确安装、正常运行和保养，在其使用寿命内具有满意的性能。设备制造完成后，我公司对设备质量、性能要求按合同规定进行详细而全面的检查，质量达到要</p>
									</div>
								</a>
							</li> -->
						</ul>
						<!-- <div class="k" style="height: 600px;"></div> -->
					</div>
				</div>
				
			<!-- </div> -->
		</div>
		<div class="cop">


		</div>
	</div>
	<div id="sucaihuo">

	</div>
	<script src="../js/mui.js"></script>
	<script src="../js/jquery-3.2.1.min.js"></script>
	<script src="../js/template-web.js"></script>
    <script src="https://cdn.bootcss.com/js-sha1/0.6.0/sha1.min.js"></script>
	<script type='text/html' id="info">
		<% for(var i=0;i<data.length;i++){ %>
			<li class="mui-table-view-cell mui-media" data-id='<%= data[i].object_id %>'>
				<a href="javascript:;">
					<% if(data[i].smeta.thumb != ''){%>
						<img class="mui-media-object mui-pull-left" src="<%= data[i].smeta.thumb %>">
					<% }else{ %>
					<% } %>
					<div class="mui-media-body">
						<%= data[i].post_title %>
						<p class='mui-ellipsis'>
							<%= data[i].post_excerpt %>
						</p>
					</div>
				</a>
			</li>
		<% } %>

	</script>
	<script>
		var page = 1,pagesize = 14,currentId = 17;
		var tmp = Date.parse(new Date()).toString();
		var time = tmp.substr(0, 10); //发起请求时间
		var str = 'app=liuhetianchuang&key=tangguyifa&time=' + time; //签名字符串
		var signature = sha1(str); //签名 sha1加密
		var pre_url = 'http://139.129.225.176/yfapi.php?s_time=' + time + '&signature=' + signature; //服务器请求地址
		if (window.plus) {
			plusReady();
		} else {
			document.addEventListener("plusready", plusReady, false);
		}	

		

		function plusReady(){
			mui.init({
				preloadPages:[{
					id: './wenz.html',
					url: './wenz.html',
					styles: {
						popGesture: 'hide' // 'hide', 'close','none' 此处是关键
					}
				}],
				pullRefresh:[
					{
						container: '#scroll1', //待刷新区域标识，querySelector能定位的css选择器均可，比如：id、.class等
						up: {
							height: 50, //可选.默认50.触发上拉加载拖动距离
							// auto: true, //可选,默认false.自动上拉加载一次
							contentrefresh: "正在加载...", //可选，正在加载状态时，上拉加载控件上显示的标题内容
							contentnomore: '没有更多信息了', //可选，请求完毕若没有更多数据时显示的提醒内容；
							callback: function () { //必选，刷新函数，根据具体业务来编写，比如通过ajax从服务器获取新数据；
								var _this = this;
								// console.log(window.currentId)
								$.ajax({
									url: pre_url + '&op=get_news_list2', //获取文章数据 可带参数 pagesize:分页大小,p:页码
									type: 'get',
									dataType: 'jsonp',
									data: {
										id:window.currentId,
										pagesize: pagesize,
										p: page
									},
									success: function (mes) {
										// console.log(mes)
										// window.newsInfo = window.newsInfo.concat(mes.data);

										var infoItem = template('info', mes);
										$('#infolist').append(infoItem);
										_this.endPullupToRefresh(false);
										// console.log(mes.status)
										page++;

										if (mes.status == 0) {
											console.log('没有消息了')
											_this.endPullupToRefresh(true);
										}
									}
								})
							}
						}
					}
				]
			})

			var newsDetailPage = null;
            // 获取文章详情
            mui('#infolist').on('tap', '.mui-media', function () {
                var id = this.getAttribute('data-id');
                //获得详情页面
                if (!newsDetailPage) {
                    newsDetailPage = plus.webview.getWebviewById('./wenz.html');
                }
                //触发详情页面的newsId事件
                mui.fire(newsDetailPage, 'newsId', {
                    id: id
                });
                //打开详情页面          
                mui.openWindow({
                    id: './wenz.html',
                    
                });
			})
			$.ajax({
				url: pre_url + '&op=get_news_list2', 
				type: 'get',
				data: {
					id: 17,
					page:page,
					pagesize:pagesize
				},
				dataType: 'jsonp',
				success: function (mes) {
					console.log(mes)
					if(mes.data.length > 0){
						var newsItem = template('info', mes);
						$('#infolist').html(newsItem);
						page++;
					}
					if(mes.status == 0){
						mui('#scroll1').pullRefresh().endPullupToRefresh(true);
					}
				}
			})
		}
		// $(function(){
			
		// })

		$(function ($) {
			$('.tab li').bind("touchstart", function () {
				$(".tab li").eq($(this).index()).addClass("cur").siblings().removeClass('cur');
				$(".cop").hide().eq($(this).index()).show();
				
			});
		})
	</script>
</body>

</html>