<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="css/mui.min.css">
</head>

<body>
    <div class="mui-scroll-wrapper" id="index-scroll">
        <div class="mui-scroll">
            <ul class="mui-table-view" id="news">

                <!-- <li class="mui-table-view-cell mui-media">
                    <a href="javascript:;">
                        <img class="mui-media-object mui-pull-left" src="../images/muwu.jpg">
                        <div class="mui-media-body">
                            木屋
                            <p class='mui-ellipsis'>想要这样一间小木屋，夏天挫冰吃瓜，冬天围炉取暖.</p>
                        </div>
                    </a>
                </li>
                <li class="mui-table-view-cell mui-media">
                    <a href="javascript:;">
                        <img class="mui-media-object mui-pull-left" src="../images/cbd.jpg">
                        <div class="mui-media-body">
                            CBD
                            <p class='mui-ellipsis'>烤炉模式的城，到黄昏，如同打翻的调色盘一般.</p>
                        </div>
                    </a>
                </li> -->

            </ul>
        </div>

    </div>
    <script src="js/mui.min.js"></script>
    <script src="js/JQ_1.js"></script>
    <script src="js/template-web.js"></script>
    <script src="https://cdn.bootcss.com/js-sha1/0.6.0/sha1.min.js"></script>
    <script type="text/html" id="news-item">
        <% for(var i=0;i<data.length;i++){ %>
            <li class="mui-table-view-cell mui-media" data-id='<%= data[i].object_id %>'>
                <a href="javascript:;">
                    <img class="mui-media-object mui-pull-left" src="../images/muwu.jpg">
                    <div class="mui-media-body">
                        <%= data[i].post_title %>
                            <p class='mui-ellipsis'>
                                <%= data[i].post_excerpt %>
                            </p>
                    </div>
                </a>
            </li>
            <% } %>
    </script>
    <script>
        var page = 1,
            pagesize = 10
        var tmp = Date.parse(new Date()).toString();
        var time = tmp.substr(0, 10); //发起请求时间
        var str = 'app=liuhetianchuang&key=tangguyifa&time=' + time; //签名字符串
        var signature = sha1(str); //签名 sha1加密
        var pre_url = 'http://139.129.225.176/yfapi.php?s_time=' + time + '&signature=' + signature; //服务器请求地址

        mui.init({
            preloadPages: [{
                id: './subpage/wenz.html',
                url: './subpage/wenz.html',
                styles: {
                    popGesture: 'hide' // 'hide', 'close','none' 此处是关键
                }
            }],
            pullRefresh: {
                container: '#index-scroll', //待刷新区域标识，querySelector能定位的css选择器均可，比如：id、.class等
                up: {
                    height: 50, //可选.默认50.触发上拉加载拖动距离
                    // auto: true, //可选,默认false.自动上拉加载一次
                    contentrefresh: "正在加载...", //可选，正在加载状态时，上拉加载控件上显示的标题内容
                    contentnomore: '没有更多新闻了', //可选，请求完毕若没有更多数据时显示的提醒内容；
                    callback: function () { //必选，刷新函数，根据具体业务来编写，比如通过ajax从服务器获取新数据；
                        var _this = this;
                        $.ajax({
                            url: pre_url + '&op=get_news_list', //获取文章数据 可带参数 pagesize:分页大小,p:页码
                            type: 'post',
                            dataType: 'jsonp',
                            jsonp: 'callback',
                            data: {
                                pagesize: pagesize,
                                p: page
                            },
                            success: function (mes) {
                                console.log(mes)
                                window.newsInfo = window.newsInfo.concat(mes.data);
                                var newsItem = template('news-item', mes);
                                $('#news').append(newsItem);
                                _this.endPullupToRefresh(true);
                            }
                        })
                        page++
                    }
                }
            }
        })

        // 获取新闻列表
        $.ajax({
            url: pre_url + '&op=get_news_list', //获取文章数据 可带参数 pagesize:分页大小,p:页码
            type: 'post',
            dataType: 'jsonp',
            jsonp: 'callback',
            data: {
                pagesize: pagesize,
                p: page
            },
            success: function (mes) {
                console.log(mes)
                window.newsInfo = mes.data;
                var newsItem = template('news-item', mes);
                $('#news').html(newsItem);
                page++;
            }
        })
    </script>
</body>

</html>