.txk {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .txk .suo {
    width: 50px;
    height: 55px;
    background: #000000;
    padding: .2rem; }
  .txk .col-l {
    color: red; }
  .txk .nav-list {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1; }
    .txk .nav-list .nav {
      display: inline-block;
      margin-left: 15px;
      margin-right: 10px;
      font-size: .28rem; }
